# Core
Django==4.2.16
python-dotenv==1.1.1

# Database
PyMySQL==1.1.1


# Auth
# (django-allauth removed — not used; relying on Django's built-in auth)

# Forms & UI
django-crispy-forms==2.4
crispy-bootstrap5==2024.2
django-widget-tweaks==1.5.0

# Images
Pillow==11.3.0

# Payment
moncashify==1.1.0

# HTTP
requests==2.32.5

# Utils
pytz==2025.2
