/* styles.css */

/* Style général de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Titre principal */
h1 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Table du panier */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #333;
    color: #fff;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Style des lignes du tableau */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9e9e9;
}

/* Liens des actions */
td a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

td a:hover {
    background-color: #007bff;
    color: #fff;
}

/* Total général */
h3 {
    text-align: right;
    font-size: 1.5em;
    color: #333;
}

h3 span {
    font-weight: bold;
}



.pay-button:hover {
    background-color: #FFFFFF; /* Couleur de fond blanche au survol */
    color: #E30613; /* Texte rouge au survol */
    border-color: #E30613; /* Bordure reste rouge */
    transform: scale(1.05); /* Effet de zoom au survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Accentuer l'ombre au survol */
}

