/* Styles pour le modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-content {
    border-radius: 10px;
    padding: 20px;
}

.modal-body {
    text-align: center;
}

.bi-x-circle {
    width: 80px;
    height: 80px;
    color: #E74C3C;
}
