/* Personnalisation du fond du Offcanvas */
.offcanvas {
    background-color: white !important; /* Fond blanc pour le panneau */
    color: #000; /* Texte noir pour les éléments du panneau */
}

/* Personnalisation des liens */
.offcanvas-body a {
    color: #000; /* Couleur des liens en noir */
    font-size: 18px;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.3s;
}

.offcanvas-body a:hover {
    color: #6B1D1A; /* Couleur de survol (rouge comme votre header) */
}
