{% load static %}
<section class="section testimonials">
    <div class="container">
        <h2 class="section-title">Ce que disent nos clients</h2>
        <div class="testimonials-slider">
          {% for commentaire in commentaires %}
          <div class="testimonial-slide {% if forloop.first %}active{% endif %}">
              {% if commentaire.photo %}
              <img src="{{ commentaire.photo.url }}" alt="{{ commentaire.nom }}" class="testimonial-img">
              {% else %}
              <img src="{% static 'images/logo.jpg' %}" alt="{{ commentaire.nom }}" class="testimonial-img">
              {% endif %}
              <p class="testimonial-text">"{{ commentaire.texte }}"</p>
              <h4 class="testimonial-name">{{ commentaire.nom }}</h4>
              <p class="testimonial-role">{{ commentaire.role }}</p>
          </div>
          {% endfor %}
      </div>
      
      <div class="testimonial-dots">
          {% for commentaire in commentaires %}
          <span class="dot {% if forloop.first %}active{% endif %}"></span>
          {% endfor %}
      </div>
      
  
  </section>