
<!-- Back to Top Button -->
<a href="#" class="back-to-top" id="backToTop">
  <i class="fas fa-arrow-up"></i>
</a>

<!-- Header -->
<header class="header">

  <div class="container">
    <nav class="navbar">
      <a href="#" class="logo">Baouly<span>Store</span></a>
      <div class="mobile-toggle" id="mobileToggle">
        <i class="fas fa-bars"></i>
      </div>
      <ul class="nav-links" id="navLinks">
        <div class="close-menu d-block d-md-none" id="closeMenu">
          <i class="fas fa-times"></i>
        </div>

        <li><a href="{% url 'index' %}" class="active">Accueil</a></li>
        <li><a href="{% url 'liste_produits' %}" class="active">Tous</a></li>
        <li><a href="{% url 'produits_par_categorie' 'homme' %}">Hommes</a></li>
        <li><a href="{% url 'produits_par_categorie' 'femme' %}">Femmes</a></li>
        <li><a href="{% url 'produits_par_categorie' 'enfant' %}">Enfants</a></li>
        
      
        <li><a href="{% url 'nouveaux' %}">Nouveautes</a></li>
    

        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>

      <div class="nav-icons">
        <a href="{% url 'recherche' %}" class="nav-icon">
          <i class="fas fa-search"></i>
        </a>
        <a href="{% url 'afficher_panier' %}" class="nav-icon">
          <i class="fas fa-shopping-bag"></i>
          <span id="panier-count">
              {% if request.session.panier_count %}
                  <sup>{{ request.session.panier_count }}</sup>
              {% endif %}
          </span>
      </a>
      
    
        {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="nav-icon">
          <i class="fas fa-user"></i>
        </a>
        {% elif user.is_staff %}
        <a href="{% url 'add_article' %}" class="nav-icon">
          <i class="fas fa-plus-circle"></i>
        </a>
        {% elif user.is_authenticated %}
        <a href="{% url 'profile' %}" class="nav-icon">
          <i class="fas fa-user-circle"></i>
        </a>
        {% else %}
        <a href="{% url 'login' %}" class="nav-icon">
          <i class="fas fa-user-plus"></i>
        </a>
        {% endif %}

      </div>
    </nav>
  </div>
</header>





