{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
<!-- Inclusion d'un fichier CSS spécifique à cette page -->
<link rel="stylesheet" type="text/css" href="{% static 'css/ajouter.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded">
        <div class="card-header bg-primary text-white text-center py-3">
            <h3 class="mb-0">Ajouter un Article</h3>
        </div>
        <div class="card-body p-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="nom" class="form-label">Nom du Produit</label>
                    {{ form.nom }}
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    {{ form.description }}
                </div>

                <div class="mb-3">
                    <label for="categorie" class="form-label">Catégorie</label>
                    {{ form.categorie }}
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="prix" class="form-label">Prix</label>
                        {{ form.prix }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="quantite_en_stock" class="form-label">Quantité en Stock</label>
                        {{ form.quantite_en_stock }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="image" class="form-label">Image du Produit</label>
                        {{ form.image }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="couleur" class="form-label">Couleur</label>
                        {{ form.couleur }}
                    </div>
                </div>

                <div class="d-flex flex-wrap justify-content-center mt-4 gap-2">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <button type="submit" class="btn btn-outline-secondary" name="save_and_add_another">
                        Ajouter un autre
                    </button>
                    <button type="submit" class="btn btn-outline-secondary" name="save_and_continue_editing">
                        Continuer
                    </button>
                </div>
                
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
