{% extends 'base.html' %} {% load static %} {% block extra_css %}

{% endblock %} 
{% block content %}


<section class="section products">
    <div class="container">
      <h2 class="section-title">Articles Populaires</h2>
      <div class="products-grid">
        {% for produit in populaires %}
        <div class="product-card">
          <div class="product-img-container">
            {% if produit.image %}
          <img src="{{ produit.image.url }}" alt="{{ produit.nom }}" class="category-img">
      {% elif produit.image_url %}
          <img src="{{ produit.image_url }}" alt="{{ produit.nom }}" class="category-img">
      {% else %}
          <img src="{% static 'images/logo.jpg' %}" alt="Image non disponible" class="category-img">
      {% endif %}
            <div class="product-badge">Populaire</div>
            <div class="product-actions">
              <a href="#" class="product-action"><i class="fas fa-heart"></i></a>
              <a href="{% url 'detail_produit' produit.pk %}" class="product-action"><i class="fas fa-search"></i></a>
              <a href="#" class="product-action"><i class="fas fa-sync-alt"></i></a>
            </div>
          </div>
          <div class="product-info">
            <div class="product-category">{{ produit.categorie.nom }}</div>
            <h3 class="product-title"><a href="{% url 'detail_produit' produit.pk %}">{{ produit.nom }}</a></h3>
            <div class="product-price">
              <span class="current-price">{{ produit.prix }} HTG</span>
              {% if produit.prix_original %}
                <span class="old-price">{{ produit.prix_original }} HTG</span>
              {% endif %}
            </div>
         <!-- Formulaire pour ajouter au panier -->
         <form method="post" action="{% url 'ajouter_au_panier' produit.id %}" class="add-to-cart-form">
          {% csrf_token %}
          

          <button class="add-to-cart"><i class="fas fa-shopping-cart"></i> Ajouter au panier</button>
      </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %} 
  