{% extends "admin/base_site.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/admin/admin_custom.css' %}" />
    <div class="dashboard">
        <h1>Statistiques</h1>
        <div class="stats-container">
            <div class="stat-card">
                <h2>Utilisateurs</h2>
                <p class="stat-number">{{ num_users }}</p>
            </div>
            <div class="stat-card">
                <h2>Produits</h2>
                <p class="stat-number">{{ num_produits }}</p>
            </div>
            <div class="stat-card">
                <h2>Commentaires</h2>
                <p class="stat-number">{{ num_commentaires }}</p>
            </div>
        </div>
      
        <a href="{% url 'admin:index' %}" class="btn btn-secondary">Retour à l'administration</a>

    </div>
{% endblock %}
