<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Baouly's Store{% endblock %}</title>
  {% load static %} {% block extra_css %}{% endblock %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap"
        rel="stylesheet">


    <!-- Chargement des fichiers CSS -->
<!-- Bootstrap d'abord -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Tes styles personnalisés ensuite -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/cart_modal.css' %}">



  {% block extra_styles %}{% endblock %}


</head>

<body>
  {% include 'partials/header.html' %}

{% if messages %}
<div class="d-flex justify-content-center mt-5">
  <div class="messages w-100" style="max-width: 600px;">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center shadow" role="alert" style="margin-top: 20px;">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}



  <!-- Contenu principal -->
  <main>
  {% include 'partials/modal.html' %}

    {% block content %}
    <!-- Le contenu spécifique à chaque page sera inséré ici -->
    {% endblock %}
  </main>

  <!-- Inclusion du pied de page -->
 {% include 'partials/footer.html' %}  
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>  

    <script src="{% static 'js/footer.js' %}"></script>
    <script src="{% static 'js/scriptRecherche.js' %}"></script> 
    <script src="{% static 'js/menu.js' %}" defer></script>
    <script src="{% static 'js/cart_modal.js' %}" defer></script>
    <script src="{% static 'js/addtocart.js' %}" defer></script>
    <script src="{% static 'js/testimonials.js' %}" defer></script>
    <script src="{% static 'js/filters.js' %}" defer></script> 



  <!-- Bloc pour les scripts spécifiques à chaque page -->
  {% block extra_js %}{% endblock %}
  <!-- JavaScript Files -->
<!-- Bootstrap JS (optionnel si tu utilises modals, dropdowns, etc.) -->
</body>

</html>