{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/liste_produits.css' %}" />

{% endblock %}

{% block content %}

<div class="product-list-container">
    <h1 class="page-title">Produits{% if categorie %} pour {{ categorie|capfirst }}{% endif %}</h1>

    {% if produits %}
        <ul class="product-list">
            {% for produit in produits %}
                <li class="product-item">
                    <a href="{% url 'detail_produit' pk=produit.id %}" class="product-link">
                      
                        <span class="product-name">{{ produit.nom }}</span>
                        <span class="product-image">
                            <img src="{{ produit.image.url }}" alt="{{ produit.nom }}">
                        </span>
                        <span class="product-price">{{ produit.prix }} HTG</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-products">Aucun produit n'a été trouvé pour cette catégorie.</p>
    {% endif %}

    <div class="back-link">
        <a href="{% url 'index' %}" class="btn btn-dark">
            <i class="fas fa-arrow-left btn btn-primary"></i> Retour à l'accueil
        </a>
        
    </div>
</div>

{% endblock %}
